.theDetailsBody {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    color: white;
}

.theDetailsBackground {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 80px;
    height: 100%;
    width: 100%;
    background-image: url('http://d2f28i5t3v7v86.cloudfront.net/coffeeandroll.jpg');
    background-size: cover;
    background-position: center;
    font-family: 'Montserrat', sans-serif;
}

.innerWrapTheThing {
    background-color: rgb(252, 250, 248, 0.90);
    margin: 30px 36px 30px 36px;
    padding: 10px 0 1px 0;
}

.roastDetail {
    margin-bottom: 12px;
    font-family: 'Montserrat', sans-serif;
    color: #3D3B37;
}

.additionalThoughts {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 0.3px solid #3D3B37;
    margin: 20px 20px;
    padding: 15px 25px 10px 25px;
    font-family: 'Montserrat', sans-serif;
    color: #3D3B37;
}

.coffeedetails {
    color: #3D3B37;
    font-size: 32px;
    margin: 10px 0 5px 0;
    font-weight: 400;
}

.detailItem {
    color: #3D3B37;
    font-family: 'Montserrat', sans-serif;
    line-height: 34px;
}

.lineSeparator {
    border-bottom: 1px solid #3D3B37;
    margin: 0 40px 16px 40px;
}

h4 {
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    margin-top: 10px;
    color: #3D3B37;
}

.editButton {
    width: 70px;
    height: 30px;
    border: none;
    background-color: #738169;
    color: #F1EEEA;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    text-transform: uppercase;
    margin-bottom: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
}

.editButton:focus {
    outline: none;
}

.editButton:active {
    background-color: #565E50;
    transform: translateY(2px);
}

 .additionalThoughts textarea {
     background-color: #FCFAF8;
     width: 100%;
     font-family: 'Montserrat', sans-serif;
     margin: 20px 20px 20px 20px;
 }

 .footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 75px;
    margin: auto 0 0 0;
    background-color: #DED9D3;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    color: #3D3B37;
}

@media (min-width: 600px) {
    .innerWrapTheThing {
        margin: 30px 60px 30px 60px;
        padding: 10px 0 1px 0;
    }
    .additionalThoughts {
        margin: 20px 40px;
        padding: 15px 25px 10px 25px;
    }
}

@media (min-width: 750px) {
    .innerWrapTheThing {
        margin: 30px 80px 30px 80px;
        padding: 10px 0 1px 0; 
    }
    .additionalThoughts {
        margin: 20px 50px;
        padding: 15px 25px 10px 25px;
    }
}

.profileButton {
    width: 270px;
    height: 64px;
    border: none;
    background-color: #738169;
    color: #F1EEEA;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    text-transform: uppercase;
    margin: 20px 0 50px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
}

.profileButton:active {
    background-color: #565E50;
    transform: translateY(2px);
}

.profileButton:focus {
    outline:0;
}
