.checkoutProducts {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style-type: none;
    margin: 8px 0 0 0;
    padding: 20px 30px 20px 30px;
    background-color: #FCFAF8;
}

.checkoutBody {
    display: flex;
    flex-direction: column;
    background-image: url('http://d2f28i5t3v7v86.cloudfront.net/nathan-dumlao-544925-unsplash+(2).jpg');
    width: 100%;
    height: 250px;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 0 0 0;
    font-family: 'Montserrat', sans-serif;
}

.checkoutProductImage {
    width: 75px;
}

.checkoutProductName {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    margin: 0 5px 2px 5px;
    text-transform: uppercase;
}

.checkoutLineSeparator {
    border-bottom: 1px solid #F1EEEA;
    margin: 5px 15px 7px 15px;
}

.checkoutProductRoaster {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    margin-bottom: 10px;
}

.StripeCheckout {
    width: 280px;
    height: 54px;
    border: none;
    background-color: #738169;
    color: #F1EEEA;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    text-transform: uppercase;
    margin: 40px 0 40px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
}

.checkoutTotal {
    display: none;
}

.checkoutPrice {
    margin-top: 30px;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
}

@media (min-width: 600px) {
    .checkoutProducts {
        margin: 8px 50px 0 50px;
    }
    .checkoutImageContainer {
        width: 200px;
    }
    .checkoutDetails {
        width: 200px;
    }
    .checkoutBody {
        height: 275px;
        background-position: center;
    }
}

@media (min-width: 750px) {
    .checkoutProducts {
        margin: 8px 80px 0 80px;
    }
    .checkoutImageContainer {
        width: 250px;
    }
    .checkoutDetails {
        width: 250px;
    }
    .checkoutBody {
        height: 300px;
    }
}

@media (min-width: 900px) {
    .checkoutProducts {
        margin: 8px 140px 0 140px;
    }
    .checkoutImageContainer {
        width: 340px;
    }
    .checkoutDetails {
        width: 340px;
    }
    .checkoutBody {
        height: 325px;
    }
}

@media (min-width: 1200px) {
    .checkoutProducts {
        margin: 8px 200px 0 200px;
    }
    .checkoutImageContainer {
        width: 380px;
    }
    .checkoutDetails {
        width: 380px;
    }
    .checkoutBody {
        height: 350px;
    }
}
