.mainBody {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-image: url('http://d2f28i5t3v7v86.cloudfront.net/coffeecircle.jpg');
  /* background-image: url('http://d2f28i5t3v7v86.cloudfront.net/coffee+circle.jpg'); */
  /* background-image: url('https://s3-us-west-1.amazonaws.com/nathan-blair-devmtn-personal-project/coffee+circle.jpg'); */
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.titleBlock {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.mainTitle {
  margin: 0;
  padding: 18px 0 10px 0;
  font-size: 62px;
  color: #f1eeea;
}

.mainSubtitle {
  margin: 0 0 0 0;
}

.mainSubtitle h3 {
  color: #F1EEEA;
  font-size: 24px;
  padding-bottom: 10px;
}

.mainLoginButton {
  width: 270px;
  height: 64px;
  border: none;
  background-color: #3d3b37;
  color: #f1eeea;
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  text-transform: uppercase;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
}

.guestLogin {
  width: 270px;
  height: 64px;
  border: none;
  background-color: #A8A398;
  color: #3D3B37;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
}

.twoButtons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 320px;
  height: 200px;
}

.space {
  height: 20px;
}

.mainLoginButton:active {
  background-color: #2E2D2A;
  transform: translateY(2px);
}

.mainLoginButton:focus {
  outline:0;
}

@media (max-width: 330px) {
  .mainTitle {
    padding: 30px 0 0 0;
  }
}

@media (min-width: 700px) {
  .mainBody {
    background-position: top;
    justify-content: space-between;
  }
}
@media (min-width: 900px) {
  .mainBody {
    background-position: 50% 20%;
  }
}

@media (min-width: 1200px) {
  .mainBody {
    justify-content: center;
    align-items: center;
  }

  .titleBlock {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 440px;
    background-color: rgb(23.9, 23.1, 21.6, 0.7);
  }
}