.headernav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(127, 116, 103, 0.32);
}

.logo {
    display: flex;
    flex-direction: row;
}

.navlinks {
    display: flex;
    flex-direction: row;
    list-style-type: none;
}